*, *::before, *::after{
    box-sizing:border-box;
    font-family: Rockwell Condensed;
    color:white;

}

:root{
    font-size: 62.5%;
}
body{
    padding: 0;
    margin: 0;
    display:flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(5deg, rgba(6,113,144,1) 0%, rgba(0,255,204,1) 100%);
}

h1{
    font-size: 3rem;
    text-shadow: 0.3rem 0.3rem 0.4rem darkslategrey;
}

.background{
    display:flex;
    justify-content: center;
    align-items:center;
    width: 100vw;
    max-height: 100vh;
}
.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    position:absolute;
    max-width:80rem;
    margin: 0 auto;
}
.btn{
    background-color:rgba(6,113,144,1);
    font-size: 4rem;
    width: 20rem;
    margin: 1rem;
    border:none;
    text-align:center;
    padding: 0.6rem 1.4rem 0.8rem 1.4rem;
    text-decoration:none;
}
.btn:hover{
    color:rgba(6,113,144,1);
    background-color:white; 
    transition: background-color 120ms ease-out 120ms;
    transition: color 120ms ease-out 120ms;
}
.btn-grid{
    display:grid;
    grid-template-columns: repeat(2, auto);
    gap:10px;
    margin: 20px 0;
}

  
.flex-column {
    display: flex;
    flex-direction: column;
}
  
.flex-center {
    justify-content: center;
    align-items: center;
}
  
.justify-center {
    justify-content: center;
}
  
.text-center {
    text-align: center;
}
  
.hidden {
    display: none;
}
.choice-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    background-color:rgba(6,113,144,1);
}

.choice-text {
    padding: 1.5rem;
    width:100%;
}

.choice-container:hover > .choice-text{
    color:rgba(6,113,144,1);
    background-color:white; 
    transition: background-color 120ms ease-out 120ms;
    transition: color 120ms ease-out 120ms
}
.choice-container:hover {
    color:rgba(6,113,144,1);
    background-color:white; 
    transition: background-color 120ms ease-out 120ms;
    transition: color 120ms ease-out 120ms
}

.logo{
    animation: pulse 7s infinite linear;
    display:block;
    width:70%;
    margin-left: auto;
    margin-right: auto;
}
.wheel1{
    animation: rotation1 13s infinite linear;
    position: absolute;
    width:100vw;
    height:auto;
    margin-left: auto;
    margin-right: auto;
}
.wheel2{
    animation: rotation1 10s infinite linear;
    position: absolute;
    width:100vw;
    margin-left: auto;
    margin-right: auto;
}.wheel3{
    animation: rotation2 17s infinite linear;
    position: absolute;
    width:100vw;
    margin-left: auto;
    margin-right: auto;
}
.wheel4{
    animation: rotation2 16s infinite linear;
    position: absolute;
    width:100vw;
    margin-left: auto;
    margin-right: auto;
}
@keyframes rotation1{
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}
@keyframes rotation2{
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-359deg);
    }
}
@keyframes pulse{
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
