*, *::before, *::after{
    box-sizing:border-box;
    font-family: Rockwell Condensed;
    color:white;
    font-size: 30px;
}

body{
    padding: 0;
    margin: 0;
    display:flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(5deg, rgba(6,113,144,1) 0%, rgba(0,255,204,1) 100%);
}

.background{
    display:flex;
    justify-content: center;
    align-items:center;
    width: 100vw;
    max-height: 100vh;
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    position:absolute;
    width:800px;
    max-width:80%;
    padding: 10px;  

}

.question{
    text-shadow: 0 0 10 2;
}

.controls{
    display: flex;
    justify-content: center; 
    align-items:center;
}

.question-container{
    align-items:center;
    display: flex;
    justify-content: center; 
}
.playsound{
    
}
.btn{
    background-color:rgba(6,113,144,1);
    border:none;
    padding:10px, 5px;
    transition: background-color 100ms ease-out 100ms;
    transition: color 100ms ease-out 100ms;
}

.btn:hover{
    color:rgba(6,113,144,1);
    background-color:white; 
}
.btn-grid{
    display:grid;
    grid-template-columns: repeat(2, auto);
    gap:10px;
    margin: 20px;
}

.start,.next{
    font-size: 50px;
    font-weight:bold;
    padding:10px,20px;
} 

.hide {
    display:none;
}
.logo{
    animation: pulse 7s infinite linear;
    display:block;
    width:70%;
    margin-left: auto;
    margin-right: auto;
}
.wheel1{
    animation: rotation1 13s infinite linear;
    position: absolute;
    width:100vw;
    height:auto;
    margin-left: auto;
    margin-right: auto;
}
.wheel2{
    animation: rotation1 10s infinite linear;
    position: absolute;
    width:100vw;
    margin-left: auto;
    margin-right: auto;
}.wheel3{
    animation: rotation2 17s infinite linear;
    position: absolute;
    width:100vw;
    margin-left: auto;
    margin-right: auto;
}
.wheel4{
    animation: rotation2 16s infinite linear;
    position: absolute;
    width:100vw;
    margin-left: auto;
    margin-right: auto;
}
@keyframes rotation1{
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}
@keyframes rotation2{
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-359deg);
    }
}
@keyframes pulse{
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
